@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

* {
    margin: auto;
    padding: 0px;
}
header {
    text-align: center;
    background-color: #7fffd449;
    padding: 50px;
}
header > a {
    text-decoration: none;
    color: black;
}
section#h1 {
    background-color: white;
    max-width: 500px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px;
}
header h1 {
    font-size: 2em;
}
nav {
    background-color: #68E8E2;
    padding: 10px;
    font-size: 1.2em;
}
nav > a {
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
    color: black;
    padding: 3px;
}
nav > a:hover {
    background-color: rgba(49, 185, 167, 0.74);
    padding: 8px;
    border-radius: 8px;
}
main {
    background-color: lightgray;
    background-image: url('imagens/background-fundo.png');
    font-family: 'Roboto', sans-serif;
}
article {
    max-width: 75%;
    background-color: white;
    text-indent: 20px;
    padding: 20px;
    font-size: 1.2em;
    position: relative;
}
.titulo {
    background-color: rgb(199, 255, 199);
    border-radius: 8px;
    padding: 2px;
    max-width: 750px;
    min-width: 150px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}
.link {
    text-decoration: underline;
    color: #61b99c;
    font-weight: bold;
    transition-duration: .5s;
}
.link:hover {
    background-color: #7fffd449;
    color: black;
    padding: 4px;
    border-radius: 5px;
}
.artigo {
    background-color: #73E1FF;
    padding: 50px;
    margin: 0px -20px 0px -20px;
    border-radius: 10px;
}
.seçao {
    max-width: 90%;
    padding: 13px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 3px;
}
.imagem1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
}
.artigo1 {
    background-color: #68E899;
    padding: 50px;
    margin: 0px -20px 0px -20px;
    border-radius: 10px;
}
.background {
    background: black url('imagens/background-p.png') center center no-repeat;
    background-size: contain;
    margin: 0px -20px 0px -20px;
    padding: 30px;
    border-radius: 10px;
    min-height: 120px;
}
.artigo2 {
    background-color: #68E8E2;
    padding: 50px;
    margin: 0px -20px 0px -20px;
    border-radius: 10px;
}
.paragrafo {
    text-align: center;
    text-indent: 0px;
}
.seçao1 {
    max-width: 90%;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 3px;
}
table {
    border-collapse: collapse;
}
caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
}
th, td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
}
footer > a {
    text-decoration: none;
    color: white;
    transition-duration: .5s;
}
footer > a:hover {
    background-color: rgba(121, 121, 121, 0.747);
    padding: 8px;
    border-radius: 8px;
}